* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit";
}

.content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  position: relative;
}
.square {
  position: absolute;
  width: 644px;
  height: 330px;
  border: 10px solid white;
  z-index: 7;
}
.content-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 60%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 5;
  top: 0;
}

.content-img {
  position: relative;
}

.content-img img {
  position: relative;
  z-index: 5;
}

.content-name {
  font-size: 1.5rem;
  position: absolute;
  left: 10px;
  bottom: 5px;
  z-index: 6;
}

.content-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100px;
  height: 40px;
  right: 0px;
  top: 30px;
  font-size: 20px;
  padding: 0.7rem;
  background-color: gray;
  z-index: 79;
}
